*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  scroll-behavior: smooth;
}

body{
  background:var(--color-bg);
}

a{
  color: unset;
  text-decoration: none;
}

.gradient__bg{
    /* ff 3.6+ */
    background:-moz-linear-gradient(167deg, rgba(32, 63, 104, 1) 0%, rgba(7, 7, 8, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(167deg, rgba(32, 63, 104, 1) 0%, rgba(7, 7, 8, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(167deg, rgba(32, 63, 104, 1) 0%, rgba(7, 7, 8, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070708', endColorstr='#203F68', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(167deg, rgba(32, 63, 104, 1) 0%, rgba(7, 7, 8, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(167deg, rgba(32, 63, 104, 1) 0%, rgba(7, 7, 8, 1) 100%);

}

.gradient__text{
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding{
    padding:4rem 6rem;
}

.section__margin{
  margin: 4rem 6rem;
}


.at-item {
  animation-name: scale-up-center;
  animation-duration: 0.90s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
  animation: scale-up-center 1s ease 0s 1 normal none;
  */ 
}
@keyframes scale-up-center {
  0%{
    transform: scale(.2);
  }
  100%{
    transform: scale(1);
  }
}

@media screen and (max-width:700px) {
  .section__padding{
    padding:4rem 6rem;
  }
  .section__margin{
    margin:4rem
  }
  
}
@media screen and (max-width:550px) {
  .section__padding{
    padding:4rem 2rem;
  }
  .section__margin{
    margin:4rem 2rem;
  }
  
}